#以'#'开始的行，被视为注释.                                                                                         

                            
*.*

/emWin524SIM/Exe
/emWin524SIM/Output

!.gitignore
!*.s
!*.asm
!*.c
!*.cpp
!*.h

#VC文件
!*.dsp
!*.cbp
!*.dsw
!*.sln
!*.vcxproj
!*.a
!*.lib
!*.bat
!*.vcxproj.filters


!*.res
!*.bmp
!*.rc
!*.rc2
!*.ico
!*.ini

!*.aps

!*.txt

#IAR文件
!*.dep
!*.ewd
!*.ewp
!*.eww


#Keil文件
!*.uvproj
!*.uvopt
!*.Uv2
!*.Opt
!*.ini
!*._ia





#忽略所有生成的 html文件,
#*.html

#foo.html是手工维护的，所以例外.
#!foo.html

# 忽略所有.o和 .a文件.
#*.[oa]



 
